---
---

<article class="product-entry" >
  <figure>
    <a href="#">
      <!-- {article.featuredImage && 
        <Picture src={article.featuredImage} widths={[400, 1000]} imageUrlBuilder={getSanityImageUrl()} alt={article.featuredImage.alt}/>
      } -->
    </a>
    <figcaption>
      <h2 class="entry-title">
        <!-- <a href="#">{article.title}</a> -->
      </h2>
      <!-- <PostMeta article={article} /> -->

      <!-- <div class="excerpt">{article.excerpt}</div> -->
    </figcaption>
  </figure>
</article>