---
import Layout from '../layouts/Layout.astro'
import PostEntry from '../components/PostEntry.astro'
import Sidebar from '../components/Sidebar.astro'
import { Pagination } from '@astro-bryceguy/pagination'

import { client } from '../lib/sanityClient.js'
import { allPosts } from '../lib/queries.js'

export async function getStaticPaths({ paginate }) {
  const allPostData = await client.fetch(allPosts)

  return paginate(allPostData, {pageSize: 10 })
}

const { page } = Astro.props
console.log(page)
---
<Layout title={page.title} type={page._type} description={page.excerpt} image={page.featuredImage}>
	<div class="content-area wrapper">
		<div class="grid-wrapper grid-main">
			<main>
				<div class="content grid-wrapper grid-halves">
					{page.data.map((article) => <PostEntry article={article} />)}
				</div>
				<Pagination total={page.lastPage} current={page.currentPage} start="1" end="1" middle="1" 
					theme={{
						container: {
							tag: 'ul',
							class: 'nav-paged',
						},
						active: {
							class: 'current'
						},
						disabled: {
							text: '...',
							class: 'dots'
						}
					}}
				/>
			</main>
			<Sidebar />
		</div>
	</div>
</Layout>