---
import Layout from '../layouts/Layout.astro'
import PostEntry from '../components/PostEntry.astro'
import Sidebar from '../components/Sidebar.astro'
import { Pagination } from 'astro-headless-ui'
import { Icon } from 'astro-icon'

import { sanityClient } from "sanity:client"
import { allPosts } from '../lib/queries.js'

export async function getStaticPaths({ paginate }) {
  const allPostData = await sanityClient.fetch(allPosts)

  return paginate(allPostData, {pageSize: 10 })
}

const { page } = Astro.props
const total = Math.ceil(page.total / page.size)
---
<Layout title={page.title} type={page._type} description={page.excerpt} image={page.featuredImage}>
	<div class="content-area wrapper">
		<div class="grid-wrapper grid-main">
			<main>
				<div class="content grid-wrapper grid-halves">
					{page.data.map((article) => <PostEntry article={article} />)}
				</div>
				<nav class="navigation post-navigation">
					<div class="nav-previous">{page.currentPage !== '/' ? <Icon class='nav-icon' name="charm:chevron-left"/> <a href={page.currentPage !== 2 ? page.url.prev : '/'}>Newer Posts</a> : null}</div>
					<ul class="nav-paged">
						<Pagination total={total} current={page.currentPage} start="1" end="1" middle="1" index={true}>
							<active slot="active">{page => <li><a href={page.href} class="current">{page.number}</li></a>}</active>
    					<li slot="disabled"><span class="dots">...</span></li>
							{page => <li><a href={page.href}>{page.number}</a></li>}
						</Pagination>
					</ul>
					<div class="nav-next">{page.currentPage !== page.lastPage ? <a href={page.url.next} >Older Posts</a> <Icon class="nav-icon" name="charm:chevron-right"/>  : null}</div>
			</nav>
			</main>
			<Sidebar />
		</div>
	</div>
</Layout>