---
import Layout from '../layouts/Layout.astro'
import Sidebar from '../components/Sidebar.astro'
import {client} from '../lib/sanityClient.js'
import Handler from '../components/Handler.astro'

import { allPagesQuery } from '../lib/queries.js'

// const query = await client.fetch(aboutPageQuery)
// const page = query[0]

export async function getStaticPaths() {
  const allPages = await client.fetch(allPagesQuery)

  return allPages.map(page => ({params: { single: page.slug.current }, props: {page}}))
}
const { page } = Astro.props

---
<Layout title={page.title} type={page._type} description={page.excerpt} image={page.featuredImage} pathname={page.slug.current}>
  <div class="content-area wrapper grid-wrapper grid-main">
    <main id="main" class="site-main" role="main">
      <article>
        <header class="entry-header">
          <h1 class="entry-title">{page.title}</h1>
        </header>

        <div class="entry-content">
          <Handler value={page.content} />
        </div>

      </article>
    </main>
    <Sidebar />
  </div>
</Layout>