---
import Layout from '../layouts/Layout.astro'
import Sidebar from '../components/Sidebar.astro'
import { sanityClient } from "sanity:client"
import Handler from '../components/Handler.astro'

import { allPagesQuery } from '../lib/queries.js'

export async function getStaticPaths() {
  const allPages = await sanityClient.fetch(allPagesQuery)

  return allPages.map(page => ({params: { single: page.slug.current }, props: {page}}))
}
const { page } = Astro.props
const sidebar = page.sidebar != false ? 'grid-main' : ''
---
<Layout title={page.title} type={page._type} description={page.excerpt} image={page.featuredImage} pathname={page.slug.current}>
  <div class=`content-area wrapper grid-wrapper ${sidebar}`>
    <main id="main" class="site-main" role="main">
      <article>
        <header class="entry-header">
          <h1 class="entry-title">{page.title}</h1>
        </header>

        <div class="entry-content">
          <Handler value={page.content} />
        </div>

      </article>
    </main>
    {page.sidebar != false && <Sidebar />}
  </div>
</Layout>