---
import Layout from '../layouts/Layout.astro'
import Sidebar from '../components/Sidebar.astro'
import PostMeta from '../components/PostMeta.astro'
import PostPagination from '../components/PostPagination.astro'
import { sanityClient } from "sanity:client"
import { getSanityImageUrl } from '../lib/helpers.js'
import Picture from 'astro-sanity-picture'
import Handler from '../components/Handler.astro'

import { allPosts } from '../lib/queries.js'

export async function getStaticPaths() {
  const allBlogPosts = await sanityClient.fetch(allPosts)

  return allBlogPosts.map(post => ({params: { slug: post.slug.current }, props: {post}}))
}

const { post } = Astro.props

const thisDate = post.publishDate
const nextPage = await sanityClient.fetch(`*[_type == "article" && publishDate > "${thisDate}"] | order(publishDate) [0] {title, publishDate, slug}`)
const prevPage = await sanityClient.fetch(`*[_type == 'article' && publishDate < "${thisDate}"] | order(publishDate desc) [0] {title, publishDate, slug}`)
---
<Layout title={post.title} type={post._type} description={post.excerpt} image={post.featuredImage} pathname={post.slug.current}>
  <div class="content-area wrapper grid-wrapper grid-main">
    <main id="main" class="site-main" role="main">
      <article
        class={`post type-post entry`}
      >
        <header class="entry-header">
          
          <PostMeta article={post} />
          <h2 class="entry-title">{post.title}</h2>
          {post.featuredImage && <Picture src={post.featuredImage} imageUrlBuilder={getSanityImageUrl()} widths={[400, 800]} sizes='(min-width: 400px) 726px, 347px' alt={post.featuredImage.alt} loading="eager" />}
        </header>

        <Handler value={post.content} />

        {/* <SocialShare
          socialConfig={{
            config: {
              url: `/${data.sanityArticle.slug.current}`,
            },
          }}
          title={data.sanityArticle.title}
          featuredImage={data.sanityArticle.featuredImage && data.sanityArticle.featuredImage}
          twitterHandle={Config.social.twitterHandle}
        /> */}

      </article>

      <PostPagination previous={prevPage} next={nextPage} />
      
    </main>
    <Sidebar />
  </div>
</Layout>