---
//import Layout from '../layouts/Layout.astro'
//import Sidebar from '../components/Sidebar.astro'
const jfImg = '/IMG_7539.jpg'
// import jfImg from './public/IMG_7539.jpg'
// console.log(jfImg)
import { sanityClient } from "sanity:client"
import { siteSettings } from '../lib/queries.js'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
//import Seo from '../components/Seo.astro'
import '@fontsource/merriweather/300.css'
import '@fontsource/merriweather/400.css'
import '@fontsource/merriweather/400-italic.css'
import '@fontsource/merriweather/700.css'
import '@fontsource/merriweather/700-italic.css'
import '@fontsource/fira-sans/300.css'
import '@fontsource/fira-sans/400.css'
import '@fontsource/fira-sans/500.css'
import '@fontsource/fira-sans/700.css'
import '@fontsource/fira-sans/900.css'
import '../styles/main.css'

export interface Props {
	title: string;
}
const settings = await sanityClient.fetch(siteSettings)
const canonicalUrl = new URL(Astro.url.pathname, settings[0].siteUrl)
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="canonical" href={canonicalUrl} />
<title>{`In loving memory`}</title>
<meta name="title" content={`In loving memory`} />
<meta name="description" content={`Words of love for James Bryce Flory, 1948-2023`} />

<meta property='og:type' content='website' />
<meta name='apple-mobile-web-app-title' content={`In loving memory`} />

<meta property='og:site_name' content={`Choosing Our Adventure`} />
<meta property='og:url' content={canonicalUrl} />
<meta property='og:title' content={`In loving memory`} />
<meta property='og:image' content={jfImg} />
<meta property='og:description' name='description' content={`Words of love for James Bryce Flory, 1948-2023`} />

<meta name='twitter:title' content={`In loving memory`} />
<meta name='twitter:image:src' content={jfImg} />
<meta name='twitter:card' content={'summary_large_image'} />
<meta name='twitter:description' content={`Words of love for James Bryce Flory, 1948-2023`} />
<meta property="twitter:url" content={canonicalUrl} />
  <!-- Google Tag Manager -->
  <script>
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TC542ZZ');
  </script>
  <!-- End Google Tag Manager -->
</head>
<body class="page">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TC542ZZ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <Header />
  
  <div class="content-area wrapper grid-wrapper" style="max-width:700px;">
    <main id="main" class="site-main" role="main" style="">
      <article>
        <header class="entry-header">
          <h2 class="entry-title">In loving memory</h2>
        </header>

        <div class="entry-content">
          <figure class="img-full">
            <img src="/IMG_7535.jpeg" alt="man holding camera" style="width:100%; max-width:400px; margin: 1rem 0; box-shadow: 0 0 12px -5px black;"/>
          </figure>
          
          <h3>James Bryce Flory</h3>

          <h4>1948 - 2023</h4>

          <p>James (Jim) Flory peacefully passed into the next life in the early afternoon of January 31, 2023, having left an indelible impression on so many. He lived a life filled with joy, compassion and a deep commitment to those he loved.</p>

          <p>Born in Spokane, WA, Jim was the youngest of two children of Earl and Rose Flory. He graduated from Southern Oregon College with a degree in Education.</p>

          <p>An accomplished photographer, his true passion was educating. For nearly 50 years, Jim combined his love of photography and education at Chemeketa Community College and Pacific University. He was always eager to share his knowledge and expertise, and his generosity extended far beyond his own family.</p>

          <p>An exuberant charm and infectious spirit drew people to him. Always the life of the party, quick to share a story or a laugh. His selfless nature, combined with his passion for life, inspired those around him to be their best selves.</p>

          <p>Jim's spirit will be seen always, and in all ways, by his beloved wife, Jean, his three children, Jeff, Bryce, and Elizabeth, his three grandchildren, and family, friends and innumerable former students, all of whom he cared deeply for.</p>

          <p>If Jim touched your spirit, please honor him by following one of his favorite quotes.</p>

          <quote>
            <b>Life is like a camera:</b>
            <ul>
              <li>Focus on what's important.</li>
              <li>Capture the good times.</li>
              <li>Develop from the negatives.</li>
              <li>And if things don't work out … take another shot.</li>
            </ul>
          </quote>

          <p>A celebration of life will be held on February 25, 2023 at 1pm in the MPR on the lower level of Washburne University Center on the campus of Pacific University in Forest Grove, OR. (<a href="https://www.google.com/maps/place/45°31'20.0%22N+123°06'32.0%22W/@45.522222,-123.108883,17z/data=!3m1!4b1!4m4!3m3!8m2!3d45.522222!4d-123.108883" target="_blank">Map</a>)</p>
          <p>A memory board will be available and people are encouraged to write down their memories of Jim to bring for posting.</p>
          <p>In lieu of flowers, the family asks you to consider making a donation to the Art Department at Pacific University in Jim's memory. This can be accomplished by choosing “Other” under the Designations section and writing “Art department/photography” at <a href="https://www.pacificu.edu/give/make-gift" target="_blank">https://www.pacificu.edu/give/make-gift</a>.</p>
        </div>

      </article>
    </main>

  </div>

  <Footer />

</body>
</html>