---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import FeaturedPost from '../components/FeaturedPost.astro'
import PostEntry from '../components/PostEntry.astro'
import Sidebar from '../components/Sidebar.astro'
import { Pagination } from 'astro-headless-ui'
import { Icon } from 'astro-icon/components'

import { sanityClient } from "sanity:client"
import { allPosts } from '../lib/queries.js'

const allPostData = await sanityClient.fetch(allPosts)
const totalPages = Math.ceil(allPostData.length / 10)
---
<Layout title="Choosing Our Adventure" type={`home`}>
	<Hero />
	<div class="content-area wrapper">
		<div class="featured grid-wrapper grid-halves">
			{allPostData && allPostData.slice(0, 2).map((article) => <FeaturedPost article={article} />)}
		</div>
		
		<div class="grid-wrapper grid-main">
			<main>
				<div class="content grid-wrapper grid-halves">
					{allPostData && allPostData.slice(2, 10).map((article) => <PostEntry article={article} />)}
				</div>
				<nav class="navigation post-navigation">
					<div class="nav-previous"></div>
					<ul class="nav-paged">
						<Pagination total={totalPages} current='/' start="5" middle='0' end="1" index={true}>
							
							{page => <li><a href={page.href}>{page.number}</a></li>}
						</Pagination>
					</ul>
					<div class="nav-next"><a href='/2' >Older Posts</a> <Icon class='nav-icon' name="charm:chevron-right"/></div>
				</nav>
			</main>
			<Sidebar home='home'/>
		</div>
	</div>
</Layout>