---
import { getSanityImageUrl } from '../lib/helpers.js'
import Picture from 'astro-sanity-picture'
import PostMeta from './PostMeta.astro'
export interface Props {
  article: any
}
const { article } = Astro.props
---
<article class="featured-item">
  <figure>
    <a href={`/${article.slug.current}`}>
      {article.featuredImage && <Picture src={article.featuredImage} imageUrlBuilder={getSanityImageUrl()} widths={[568]} alt={article.featuredImage.alt}/>}
    </a>
    <figcaption>
      <h2 class="entry-title">
        <a href={`/${article.slug.current}`}>{article.title}</a>
      </h2>
      <PostMeta article={article} />

      <div class="excerpt">{article.excerpt}</div>
    </figcaption>
  </figure>
</article>