---
import { formatBlogPostDate } from "../lib/helpers"

export interface Props {
  article: any
}
const { article } = Astro.props
---

<div class="entry-meta">
  <span class="posted-on"><time class="entry-date">{formatBlogPostDate(article.publishDate)}</time></span>
  <div>
    <ul class="cat-links">
      {article.countries && article.countries.map(country => (
        <li><a class="pill" href={`/country/${country.slug.current}`}>{country.name}</a></li>
      ))}
      {article.categories && article.categories.map(cat => (
        <li><a class="pill" href={`/category/${cat.slug.current}`}>{cat.title}</a></li>
      ))}
      </ul>
  </div>
</div>