---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Seo from '../components/Seo.astro'
import '@fontsource/merriweather/300.css'
import '@fontsource/merriweather/400.css'
import '@fontsource/merriweather/400-italic.css'
import '@fontsource/merriweather/700.css'
import '@fontsource/merriweather/700-italic.css'
import '@fontsource/fira-sans/300.css'
import '@fontsource/fira-sans/400.css'
import '@fontsource/fira-sans/500.css'
import '@fontsource/fira-sans/700.css'
import '@fontsource/fira-sans/900.css'
import '../styles/main.css'

export interface Props {
	title: string;
}

const { title, type, description, image } = Astro.props as Props
const pageType = type != 'article' ? type != 'page' ? `archive ${type}` : type : type
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <Seo title={title} description={description} image={image} />
  <!-- Google Tag Manager -->
  <script type="text/partytown">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TC542ZZ');</script>
  <!-- End Google Tag Manager -->
</head>
<body class={`${pageType}`}>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TC542ZZ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <Header />
  
  <slot />

  <Footer />

</body>
</html>